DJANGO_DEBUG=on
DJANGO_SECRET_KEY="CHANGEME!!!&kb0hy+h3g492ee4e9vpop2=n0lh-)gxqzj_biw52^9g%1pa0f"

DJANGO_ADMINS=Some User:some.user@gmail.com,
DJANGO_ALLOWED_HOSTS=example.com,example2.com
DJANGO_STATIC_ROOT=path/to/static/root
DJANGO_MEDIA_ROOT=path/to/media/root
DJANGO_DATABASE_URL=postgres:///django_aiohttp_websockets
DJANGO_EMAIL_URL="smtp://user@:password@localhost:25"

DJANGO_DEFAULT_FROM_EMAIL=admin@example.com
DJANGO_EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
DJANGO_SERVER_EMAIL=root@localhost.com


DJANGO_USE_DEBUG_TOOLBAR=off
DJANGO_TEST_RUN=off
